/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}*/
/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}*/
/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}*/
/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}*/
/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}*/
/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}*/

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


html, body{font-size: 10px; font-family:'NanumSquare','Noto Sans KR',san-serif; font-weight: 400; /* overscroll-behavior: contain; */}
body{background-color: #111;}

#content{position: relative; width: 375px; margin: 0 auto;}
section{ max-width: 375px; height: 100vh; padding:30px; margin: 0 auto; background-color: #f9fbfc;}
/* input{display:block;min-width: 315px; height:60px; padding: 0 20px; background:#fff;border:1px solid #dde0e2;box-sizing:border-box;border-radius:12px; font-size: 1.6rem !important;} */
input{padding-right: 45px !important;}

label{color: #9e9eab; font-size: 1.4rem;}
label + .iptWrap input{margin-top: 8px; margin-bottom: 20px; font-size: 1.8rem !important;}

.btnArea{margin: 20px 0;}
.btn_d{display:block;min-width: 315px; height:60px;background-color: #322e54;color: #fff; box-sizing:border-box;border-radius:12px;}


.popup{display: block; position: fixed; top: 0; left: 50%; transform: translateX(-50%); }
#btnBack{position: absolute; top: 16px; left:32px; display: block; width: 24px; height: 24px; background: url(../images/icons-back-light.svg) center center no-repeat;}
#btnFilter{position: absolute; top: 16px; right:32px; display: block; width: 24px; height: 24px; background: url(../images/icons-light-filter.svg) center center no-repeat;}

/*.loanRateResult{transform: translateX(0); transition: .3s;}*/
.loanRateResult{ position: absolute; left: 0; top: 0; width: 100%; transform: translate(0, 10%); padding-left: 32px; padding-right: 32px; background-color: #02034A; opacity: 0; z-index: -1; transition: opacity .3s;}
.loanRateResult.on{transform: translate(0, 0);; transition: .3s; opacity: 1; z-index: 9999}


.topSummary{margin-top: 40px;}
.label{font-size: 16px; color: #676893; font-weight: 300; letter-spacing: -1px;}
#sum7{display: block; color: #fff; font-size: 3rem; font-weight: 700;}
#sum8{display: block; color: #fff; font-size: 1.5rem; opacity: .7; margin-top: 4px;}

.ul1{margin-top: 24px; display: table; width: 100%; padding: 16px 0; background-color: rgba(0, 0, 0, 0.3); border-radius: 16px;}
.ul1 li{display: table-cell;}
.ul1 li span{display: block; text-align: center;}
.ul1 .tit{color: #676893; font-size: 1.2rem; font-weight: 300;}
.ul1 .val{color: #fff; font-size: 1.3rem; font-weight: 400; margin-top: 4px;}
.ul1 .val.em{color: #FFD93B;}

.ul2{margin-top: 24px;}
.ul2 li{overflow: hidden; margin-top: 8px;}
.ul2 .tit{float: left; color: #676893; font-size: 1.3rem; font-weight: 300;}
.ul2 .val{float: right; color: #fff; font-size: 1.5rem; font-weight: 500; text-align: right;}
.ul2 .val.em{color: #FFD93B;}

.footArea{position: relative; height: 56px; margin-top: 24px;}
.footArea #btnSaveHistory{position: absolute; top: 0; left:0; display: block; width: 56px; height: 56px; background:#676893 url(../images/icons-heart-red.svg) center center no-repeat; border-radius: 16px;}
.footArea #btnReCalculate{position: absolute; top: 0; left: 64px; width: calc(100% - 64px); height: 56px; background:#676893; border-radius: 16px; color: #fff; font-size: 1.8rem; font-weight: 500;}

.footPopup{position: fixed; bottom: 0;left: 0; width: 100%; height: 200px; padding-left: 32px; padding-right: 32px; background: transparent linear-gradient(180deg, #FFFFFF 0%, #F7F7FA 100%) 0% 0% no-repeat padding-box; border-radius: 40px 40px 0px 0px; transition: .3s;}
.footPopup.on{height: calc(100% - 160px);}
.footPopup .inner{overflow: auto; max-height: 200px;}
.footPopup.on .inner{max-height: calc(100% - 100px);}
.footPopup .btnTop{position: absolute; top: 0; left: 0; width: 100%; height: 40px; background-color: transparent;}
.footPopup .btnTop::before{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); content: ''; width: 56px; height: 4px; background-color: #d0d0d0; border-radius: 2px;}

.footPopup .titH3{ margin-top: 40px; margin-bottom: 8px; font-size: 1.8rem; color: #02034A; font-weight: 600; letter-spacing: -1px;}

.loanHistory{margin-top: 10px;}
.loanHistory li{min-height: 40px; padding-top: 15px; padding-bottom: 15px; letter-spacing: -0.5px; border-bottom: 1px solid #eee;;}
.loanHistory .info{position: relative; padding-left: 51px;}
.loanHistory .loanMoney{line-height: 1; font-size: 1.5rem; color: #02034A; font-weight: 600;}
.loanHistory .date{margin-top: 8px; height: 14px; line-height: 14px; font-size: 1.2rem; color: #888;}
.loanHistory .method{position: absolute; top: 0; left: 0; width: 36px; height: 36px; background: #ffdb28 url(../images/icon_won_white.png) center center no-repeat; background-size: 22px; border-radius: 12px; text-indent: -9999px;}
.loanHistory .loansDate{position: absolute; bottom: 0; right: 0; font-size: 1.2rem; color: #888;}
.loanHistory .rates{position: absolute; top: -2px; right: 0; font-size: 1.8rem; font-weight: 900; line-height: 1;}

/* .tableX{width: 400px;} */
.tableX th{ color: #02034A;}
.tableX th, .tableX td{padding: 4px 8px; background-color: #fff; white-space: nowrap; font-size: 1.3rem; z-index: 10;}

.tableX.fixed{table-layout: auto; margin-top: 0; border-top: 0;}
.tableX.fixed thead{ position: sticky; top: 0; z-index: 20;}
.tableX.fixed thead th{background-color: #f8f8f8; border-top: 1px solid #333;}
.tableX.fixed tbody{position: relative; z-index: 10;}
.tableX.fixed tr{white-space: nowrap;}
.tableX.fixed tr th:first-child,
.tableX.fixed tr td:first-child{position: sticky; left: 0; background-color: #f8f8f8; z-index: 20;}
.tableX.fixed tr th:first-child::after,
.tableX.fixed tr td:first-child::after{display: block; content: ''; position: absolute; top: 0; right: -1px; height: 100%;border-right: 1px solid #e0e0e0;}


.toast{position: fixed; left: 50%; bottom: 20px; opacity: 0; transform: translate(-50%, 50%); display: inline-block; min-width: 240px; height: 36px; line-height: 36px; background-color: rgba(0, 0, 0, 0.75); border-radius: 18px; font-size: 1.4rem; color: #fff; text-align: center; z-index: 9999;}
.toast.on{opacity: 1; transform: translate(-50%, -50%); transition: transform .3s, opacity .3s;}